// Global namespace for all TA typography
.ta {
  // Lead
  &.lead {
    font-size: 120%;
  }

  // Author/Byline
  &.byline {
    font-family: @chartFont;
    font-weight: 800;
    font-size: @relativeMedium;
    line-height: 2.5ex;
  }

  &.metainfo {
    margin-bottom: 1rem;
  }

  &.updated {
    font-family: var(--chart-font-stack);
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 0.9rem;
    color: #7d7d7d;
    @media only screen and (max-width: 599px) {
      line-height: 0.9rem;
    }
  }
  &.author {
    display: inline-block;
    color: var(--text-color);
    font-family: var(--chart-font-stack);
    font-size: 0.85rem;
    line-height: 1.22rem;
    // margin-bottom: 0.5rem;
    font-weight: 400;
    @media only screen and (max-width: 599px) {
      font-size: 0.85rem;
      line-height: 1.2rem;
      max-width: 100%;
    }
  }

  &.text {
    color: var(--text-color);
    line-height: 1.666667em;
    @media screen and (max-width: 599px) {
      line-height: 1.6em;
    }
  }

  &.text p {
    color: var(--text-color);
    line-height: 1.666667em;
    @media screen and (max-width: 599px) {
      line-height: 1.6em;
    }
  }

  &.interview {

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.question {
      margin-top: 4.5ex;
      font-weight: 700;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.infographic.infographic.infographic,
.chart.chart.chart {
  font-family: @chartFont;
  color: var(--text-color);
}

.caption.caption.caption {
  font-family: @textFont;
  color: var(--text-color);
}

.interactive.interactive.interactive,
.neutral.neutral.neutral {
  font-family: @uiFont;
  color: var(--text-color);
}

.display.display.display {
  font-family: @headerFont;
  color: var(--text-color);
}
