.ta {

  &.caption.caption.caption {
    font-size: 90%;
    font-family: @textFont;
    line-height: 1.25;
    font-style: italic;

    &.small.small.small {
      font-size: 75%;
      font-family: @uiFont;
    }

    &.secondary {
      opacity: 0.66;
    }

    &.tertiary {
      opacity: 0.33;
    }
  }
}

img + .ta.caption,
.ui.image + .ta.caption {
  margin-top: 0.5ex
}